azure_storage==0.37.0
cloudinary==1.29.0
dj_rest_auth==2.2.2
Django==4.0.1
django_allauth==0.47.0
django_phonenumber_field==6.0.0
djangorestframework==3.13.1
msrest==0.6.21
Pillow==9.1.1
requests==2.27.1
